.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login-forms-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.form-wrapper {
  width: 45%;
  margin: 0 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.input-field {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 16px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.form-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.form-text a {
  color: blue;
}
